body {
  font-size: 14px;//14px; - 1em = 14px; 3em = 42px; 1.28em = 18px; FONTEpx/14px = FONTEem
  line-height:1.4;
  font-family: 'Maven Pro', sans-serif;
  color: $color-base;
  // -webkit-font-smoothing: antialiased;
  //         font-smoothing: antialiased;
  margin:0;
  padding:0;
  background-image: url(./../img/template/bg-perfil.png);
  background-position:bottom center;
  background-repeat:no-repeat;  
}

body.painel{
  background-image: url(../img/template/bg-interna.png);
  background-position: center top;
  background-position: no-repeat;
}

p {
  margin: 0;
  font-size: 0.83em;
}

img {
  max-width: 100%;
}

/* headings --------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 10px 0 ;
}

h1 { font-size: 3.0em; }
h2 { font-size: 2.6em; }
h3 { font-size: 2.2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.1em; }

/* links ------------------------ */

a {
  text-decoration: none;
  color: $color-base;
  &:visited { color: $color-base; }
  &:hover   { color: $color-base; }
  &:focus   { color: $color-base; }
  &:active  { color: $color-base; }
}

/* classes ------------------------ */

.button {
  &:hover {
    text-decoration: underline;
  }
}

.centralize {
  text-align:center;
}

.hide_text {
  text-indent: -9999px;
  display: block;
}

.nav {
  li {
    display: inline-block;
  }

b {
  font-weight:bold;
  }
}
label.error {
  display: inline-block;
  text-align:center;
  width: 140px;
  position: absolute;
  right: -140px;
  top: -2px;
  color: $color-white;
  padding: 3px 10px;
  background-color: #ff921e;
  &:before {
    content: '';
    display:block;
    background-color: #ff921e;
    width:10px;
    height:10px;
    position: absolute;
    left:-5px;
    top:7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
} .error-left + label.error {
  left: -160px;
  right:inherit;
  &:before {
    left:145px;
  }
}

//TITULOS SECTIONS
.block {
  margin-bottom: 30px;
}

.title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  margin: 0px;
}
.subtitle {
  font-size: 1.42em;
  font-family: 'Sophie', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
//POSTS
.postnome {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.14em;
}
.posttexto {
  font-size: 1.14em;
}
//QUADROS
//Squared
.squared-img {
  width: 212px;
  height: 155px;
  position: relative;
  margin-bottom: 15px;
  img {
    width: 206px;
    height: 147px;
  }
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: -4px;
    right: 2px;
    @include sprite(squared);
  }
}

//round
.round-img {
  width: 101px;
  height: 100px;
  position: relative;
  margin-bottom: 15px;
  img {
    width: 101px;
    height: 100px;
    border-radius: 50%;
    behavior: url(assets/css/suiting/pie.htc);
  }
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 2px;
    right: 0px;
    @include sprite(round);
  }
}

//retangle
.retangle-img {
  width: 678px;
  height: 272px;
  position: relative;
  margin-bottom: 15px;
  img {
    width: 678px;
    height: 272px;
    behavior: url(assets/css/suiting/pie.htc);
  }
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: -4px;
    right: -2px;
    @include sprite(retangle);
  }
}

// WAYPOINTS
.sticky-wrapper {
  position: absolute;
}