.l-cadastrarperfil {
	width:960px;
  	margin: 0 auto;
	form {
		margin:0 auto;
	}
	text-align:center;
	p{
		width:400px;
		margin:0 auto;
		line-height:1.4em;
	}
	input[type="text"]{
		width:250px; 
		
	}
	header{
		margin-bottom:10px;
	}
	form p{
		margin-bottom:7px;
	}
	#map-canvas{
		margin-bottom:20px;
	}
}