.l-duvidas {
	ul {
		li {
			position: relative;
			min-height: 322px;
			max-height: 322px;
			.the_tag {
				@include box-sizing(border-box);
				@include sprite(tag-duvida);
				font-family: 'Permanent Marker', sans-serif;
				color: $color-white;
				display: inline-block;
				padding: 18px 0px 0px 9px;
				font-size: 1.1em;
				text-transform: uppercase;
				position: absolute;
				bottom: -3px;
				left: -7px;
				z-index: 5;
				&::before {
					content: '#';
					font-size: 1.2em;
				}
			}
			.ver-duvida {
				@include box-sizing(border-box);
				@include sprite(ver-duvida);
				padding: 7px 0px 0px 0px;
				margin-top: 20px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1em;
				color: $color-white;
				position: absolute;
				bottom: 0px;
			}
		}
	}
	&.resultado {
		margin-bottom: 30px;
	}
}

.l-duvida-busca {
	h3.title {
		margin-bottom: 30px;
		font-size: 2.5em;
	}
	form {
		@include box-sizing(border-box);
		@include sprite(duvida-busca);
		text-align: center;
		padding: 35px 0px 0px 0px;
		.input-container {
			position: relative;
			display: inline-block;
			input {
				width: 492px;
			}
			button {
				position: absolute;
				top: 5px;
				right: 5px;
				display: block;
				background-color: transparent;
				@include box-sizing(border-box);
				@include sprite(icone-busca);
			}
		}
	}
}

.l-duvidas-cadastrar-button {
	@include box-sizing(border-box);
	@include sprite(duvidas-cadastrar-button);
	text-align: center;
	padding-top: 20px;
	.subtitle {
		margin-bottom: 0px;
		color: $color-orange;
	}
	.btCadastrarDuvida {
		@include box-sizing(border-box);
		@include sprite(cadastrar-duvida);
		padding: 7px 0px 0px 0px;
		margin-top: 10px;
		text-align: center;
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1em;
		color: $color-white;
	}
}

.l-duvida-exibicao {
	.galeria-imagens{
		margin:5px 6px;
	}
	.comentario{
		padding:10px 0;
		border-bottom: dashed 1px grey;
		margin:5px 0;
	}
	p.titulo{
		font-size: 1em;
		font-weight:bold;
	}
}

.l-duvida-cadastro{
	h2{
		font-family: 'Permanent Marker', sans-serif;
		font-size:2.5em;
		text-align:center;}

	h3{
			color:#fff;
			font-family: 'Permanent Marker', sans-serif;
			font-size:1.71em;
			text-align:center;

		}
	#cadastrar-duvida{background: url(./../img/template/bg-duvida.png) top center no-repeat;}
}
