.l-duvidas {
	ul {
		li {
			position: relative;
			min-height: 322px;
			max-height: 322px;
			margin-bottom: 30px;
			.the_tag {
				@include box-sizing(border-box);
				@include sprite(tag-duvida);
				font-family: 'Permanent Marker', sans-serif;
				color: $color-white;
				display: inline-block;
				padding: 18px 0px 0px 9px;
				font-size: 1.1em;
				text-transform: uppercase;
				position: absolute;
				bottom: -3px;
				left: -7px;
				z-index: 5;
				&::before {
					content: '#';
					font-size: 1.2em;
				}
			}
			.ver-duvida {
				@include box-sizing(border-box);
				@include sprite(ver-duvida);
				padding: 7px 0px 0px 0px;
				margin-top: 20px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1em;
				color: $color-white;
				position: absolute;
				bottom: 0px;
			}
		}
	}
	&.resultado {
		margin-bottom: 30px;
	}
}

.l-duvida-busca {
	h3.title {
		margin-bottom: 30px;
		font-size: 2.5em;
	}
	form {
		@include box-sizing(border-box);
		@include sprite(duvida-busca);
		text-align: center;
		padding: 35px 0px 0px 0px;
		.input-container {
			position: relative;
			display: inline-block;
			input {
				width: 492px;
			}
			button {
				position: absolute;
				top: 5px;
				right: 5px;
				display: block;
				background-color: transparent;
				@include box-sizing(border-box);
				@include sprite(icone-busca);
			}
		}
	}
}

.l-duvidas-cadastrar-button {
	@include box-sizing(border-box);
	@include sprite(duvidas-cadastrar-button);
	text-align: center;
	padding-top: 20px;
	.subtitle {
		margin-bottom: 0px;
		color: $color-orange;
	}
	.btCadastrarDuvida {
		@include box-sizing(border-box);
		@include sprite(cadastrar-duvida);
		padding: 7px 0px 0px 0px;
		margin-top: 10px;
		text-align: center;
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1em;
		color: $color-white;
	}
}

.l-duvida-exibicao {
	a {
		color: $color-orange;
		text-decoration: underline;
	}
	h3.title {
		margin-bottom: 30px;
	}
	h4.title.post {
		margin-bottom: 20px;
	}
	p.duvida-header {
		font-size: 0.85em;
		margin-bottom: 20px;
	}
	div.conteudo {
		&>* {
			font-size: 1.14em;
		}
		p {
			margin-bottom: 10px;
		}
	}
	.marcacao-pessoas {
		font-family: 'Sophie', sans-serif;
		font-size: 1.58em;
	}
	.nomes-pessoas {
		font-size: 1.14em;
	}
	.content-topo {
		margin-bottom: 30px;
	}
	.duvida-imagens {
		margin-bottom: 30px;
		.galeria-imagens {
			width: 157px;
			height: 113px;
			position: relative;
			display: inline-block;
			img {
			  width: 157px;
			  height: 113px;
			}
			&:after {
				content: ' ';
			    display: block;
			    position: absolute;
			    top: -3px;
				right: -4px;
			    @include sprite(duvida-imagem);
			}
		}
		.galeria-imagens + .galeria-imagens {
			margin-left: 17px;
		}
	}
	.duvida-videos {
		margin-bottom: 30px;
	}
	.cadastrar-comentario {
		@include box-sizing(border-box);
		@include sprite(comentario-background);
		padding: 30px 40px;
		text-align: center;
		margin-bottom: 20px;
		h4.title.post {
			text-align: center;
			color: $color-white;
		}
		.enviar-comentario {
			@include box-sizing(border-box);
			@include sprite(enviar-comentario);
			padding: 0px 0px 0px 0px;
			margin-top: 20px;
			text-align: center;
			display: inline-block;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.35em;
			color: $color-white;
			background-color: transparent;
			outline: none;
			text-indent: inherit;
		}
	}
	.comentario{
		padding:20px 0px 30px 0px;
		margin:5px 0;
		background-image: url(../img/template/background-comment.png);
		background-repeat: no-repeat;
		background-position: left bottom;
		.header-comment {
			font-size: 1.14em;
			margin-bottom: 10px;
			.duvida-header {
				font-size: 12px;
			}
		}
		.contetComment {
			&>* {
				font-size: 1.14em;
			}
		}
	}
	p.titulo{
		font-size: 1em;
		font-weight:bold;
	}
}

.l-duvida-cadastro{
	margin-top:-30px;
	h2{
		font-family: 'Permanent Marker', sans-serif;
		font-size:2.5em;
		text-align:center;}

	h3{
			color:#fff;
			font-family: 'Permanent Marker', sans-serif;
			font-size:1.71em;
			text-align:center;

		}
	.plantacoes{clear:both;}

	#cadastrar-duvida{background: url(./../img/template/bg-duvida.png) top center no-repeat; padding:20px 50px 0;}

	#titulo, #amigos {border-radius:5px; padding:5px; width:580px; margin:20px auto;}

	#cadastrar-duvida p{font-family:'Sophie', sans-serif; color: #fff; font-size:1.6em; text-align:center; line-height:28px;}

	#ckeditor{height:150px;}

	.pessoa_marcada {
		margin-top: 30px;
		.round-img {
			float: left;
			margin-bottom: 0px;
			margin-right: 20px;
		}
		p {
			margin-top: 15px;
			color: $color-brown!important;
			a {
				@include box-sizing(border-box);
				@include sprite(ver-duvida);
				padding: 3px 0px 0px 0px;
				margin-top: 10px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				font-family: 'Maven Pro', sans-serif;
				text-transform: uppercase;
				font-size: 16px;
				color: $color-white;
			}
		}
	}

	#datepicker{border-radius:5px; padding:5px; margin:10px 0 10px 200px; width:200px;}

	.borda-radios{position:relative; background: url(./../img/template/bg-radio.png) no-repeat; width:70px; height:69px; display:block; margin:20px; float:left; }

	.borda-radios input[type="radio"]{
		position:absolute;
		right:2px;
		top:6px;
	}
	.borda-radios img{display:block; margin-top:10px; margin-left:9px; margin-bottom:15px;}

	.borda-radios label{font-family:'Sophie', sans-serif; font-size:1.7em;}

	ul.lista-imagens{
		margin-bottom:20px;
		height:150px;
		li{width:130px; float:left; margin-right:5px; height:99px;}
	}
	.lista-imagens input, #uploadVideo input, .borda-radios input{padding:0px; border-radius:0px; box-shadow:none; -webkit-box-shadow:none;}

	.salva-postar{background: url(./../img/template/bt-salvar-postar.png); border:none; width:502px; height:34px; margin:10px auto;}

	#videoMensagem{color:#7a7460;}

	.group-span-filestyle label{
		font-family: 'Permanent Marker', sans-serif;
		font-size:1.5em;
		margin-left:5px;
		cursor:pointer;
	}

	#uploadVideo{margin:20px 160px;}

	#pessoas_container{
		margin-top:25px; 
		p{
			color:#7a7460;
		}
	}

}

/* Autocomplete
----------------------------------*/    
.ui-autocomplete-loading { background: white url('../img/modules/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-menu-item a {
	padding: 10px;
	display: block;
	font-size: 14px;
}
.ui-menu-item a:hover {
	background: #666;
	color: #fff;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background: #fff;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* Autocomplete
----------------------------------*/  

#cadastrar-duvida{background: url(./../img/template/bg-duvida.png) top center no-repeat;}


.l-duvida-resultado {
	.title.post {
		text-align: center;
		margin-top: 30px;
	}
	#duvidaSendSearch {
		.title.post {
			margin-bottom: 30px;
		}

	}
	.plantacoes {
		margin-top: 30px;
		.plantacao-content {
			display: inline-block;
			position: relative;
			text-align: left;
			padding-top: 40px;
			margin-right: 5px;
			margin-bottom: 15px;
			vertical-align: middle;
			padding-left: 80px;
			padding-right: 15px;
			@include box-sizing(border-box);
			@include sprite(plantacao-content);
			img {
				position: absolute;
				left: 15px;
				top: 28px;
			}
			input[type=radio] {
				position: absolute;
				top: 3px;
				right: 6px;
			}
			.plantation-name {
				font-weight: 700;
				font-size: 1.14em;
				color: $color-white;
				text-transform: uppercase;
			}
			.plantation-device {
				font-size: 1.14em;
				color: $color-white;
			}
		}
	}
	.deviceData {
		@include box-sizing(border-box);
		@include sprite(deviceData);
		text-align: center;
		padding-top: 35px;
		margin-top: 30px;
		.deviceText {
			display: inline-block;
			font-family: 'Sophie', sans-serif;
			font-size: 1.71em;
			color: $color-white;
		}
		#datepicker {
			width: 200px;
			margin-left: 30px;
		}
	}
	.sendDevice {
		@include box-sizing(border-box);
		@include sprite(busca-duvida-plantacoes);
		padding: 4px 0px 0px 0px;
		margin-top: 30px;
		text-align: center;
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1em;
		color: $color-white;
		text-indent: inherit;
		margin-left: 80px;
		outline: none;
		&.disabled {
			cursor: default;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
			-moz-opacity:0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
		}
	}
	
}