.l-duvida-inicial {
	form{
		width:500px;
		margin:5px auto;
	}
	input[type="text"]{
		width:400px; 
		margin-right:10px;
	}
	#conteudoDuvidas li{
		width:200px;
		display:block;
		float:left;
		margin:5px 10px;

	}
	.postnome{
		font-weight:bold;
	}
	ul{
		overflow:auto;
	}
	.bt-saibamais{
		display:block;
		float:right;
	}
	#cadastrarDuvida{
		text-align:center;
		a{
			display:block;
			width:200px;
			height:15px;
			padding:7px;
			text-align: center;
			background-color:blue;
			margin:10px auto;
			font-size: 0.75em;
			color:#fff;
		}
	}
	#paginacao{
		margin:5px auto;
		text-align:center;
		width:75px;	
	}
	#paginacao ul li{
		display:block;
		float:left;
		padding:5px;
	}
}
