.l-duvida-exibicao {
	.galeria-imagens{
		margin:5px 6px;
	}
	.comentario{
		padding:10px 0;
		border-bottom: dashed 1px grey;
		margin:5px 0;
	}
	p.titulo{
		font-size: 1em;
		font-weight:bold;
	}
}
