.l-duvidas {
	ul {
		li {
			position: relative;
			min-height: 322px;
			max-height: 322px;
			.the_tag {
				@include box-sizing(border-box);
				@include sprite(tag-duvida);
				font-family: 'Permanent Marker', sans-serif;
				color: $color-white;
				display: inline-block;
				padding: 18px 0px 0px 9px;
				font-size: 1.1em;
				text-transform: uppercase;
				position: absolute;
				bottom: -3px;
				left: -7px;
				z-index: 5;
				&::before {
					content: '#';
					font-size: 1.2em;
				}
			}
			.ver-duvida {
				@include box-sizing(border-box);
				@include sprite(ver-duvida);
				padding: 7px 0px 0px 0px;
				margin-top: 20px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1em;
				color: $color-white;
				position: absolute;
				bottom: 0px;
			}
		}
	}
}

.l-duvida-exibicao {
	.galeria-imagens{
		margin:5px 6px;
	}
	.comentario{
		padding:10px 0;
		border-bottom: dashed 1px grey;
		margin:5px 0;
	}
	p.titulo{
		font-size: 1em;
		font-weight:bold;
	}
}

.l-duvida-cadastro{
	margin-top:-30px;
	h2{
		font-family: 'Permanent Marker', sans-serif;
		font-size:2.5em;
		text-align:center;}

	h3{
			color:#fff;
			font-family: 'Permanent Marker', sans-serif;
			font-size:1.71em;
			text-align:center;

		}
	.plantacoes{clear:both;}

	#cadastrar-duvida{background: url(./../img/template/bg-duvida.png) top center no-repeat; padding:20px 50px 0;}

	#titulo, #amigos {border-radius:5px; padding:5px; width:580px; margin:20px auto;}

	#cadastrar-duvida p{font-family:'Sophie', sans-serif; color: #fff; font-size:1.6em; text-align:center; line-height:28px;}

	#ckeditor{height:150px;}

	#datepicker{border-radius:5px; padding:5px; margin:10px 0 10px 200px;}

	.borda-radios{position:relative; background: url(./../img/template/bg-radio.png) no-repeat; width:70px; height:69px; display:block; margin:20px; float:left; }

	.borda-radios input[type="radio"]{
		position:absolute;
		right:2px;
		top:6px;
	}
	.borda-radios img{display:block; margin-top:10px; margin-left:9px; margin-bottom:15px;}

	.borda-radios label{font-family:'Sophie', sans-serif; font-size:1.7em;}

	ul.lista-imagens{
		margin-bottom:20px;
		height:130px;
		li{width:130px; float:left; margin-right:5px; height:99px;}
	}

}