.l-footer {
	height:30px;
	background: url(./../img/template/bg-rodape.png) repeat-x;
	padding-top:17px;
	width:100%;
	.l-footer-bottom{
		text-align:center;
		margin:0 auto;
	}
	p, p a{
		font-family: 'Maven Pro', sans serif;
		font-size:0.87em;
		color:#fff;
	}
}
