.l-footer {
	height:30px;
	position:absolute;
	background-color:#ccc;
	width:1000px;
	padding-top:10px;
	bottom:0px;
	left:50%;
	margin-left:-500px;

	.l-footer-bottom{
		text-align:center;
		margin:0 auto;
	}
	p{
		margin:2px 0;
	}
}
