.l-graficos {
	margin-top:-30px;
	#plantacoes li{
		display:inline;
		cursor:pointer;
		margin:5px;
	}
	.bt-vermais{
		display:block;
		float:right;
		padding:5px 10px;
		background-color:#f00;
	}
	h2{
		font-family:'Permanent Marker', sans-serif;
		font-size:2.5em;
		text-align:center;
	}
	h3{
		font-family:'Permanent Marker', sans-serif;
		font-size:2em;
		text-align:left;
		margin:30px 0 10px;
	}
	.subtitle{
		font-family:'Sophie', sans-serif;
		font-size:1.42em;
		text-align:center;
		margin-bottom:30px;
	} 
}
