.l-graficos {
	margin-top:-30px;
	#plantacoes li{
		display:inline;
		cursor:pointer;
		margin:5px;
	}
	.bt-vermais{
		background: url(./../img/template/bt-ver-mais.png);
		width:190px;
		margin:0px auto;
	}
	h2{
		font-family:'Permanent Marker', sans-serif;
		font-size:2.5em;
		text-align:center;
	}
	h3{
		font-family:'Permanent Marker', sans-serif;
		font-size:2em;
		text-align:left;
		margin:10px 10px 20px 10px;
		color: $color-white;
		float:left;

	}
	.subtitle{
		font-family:'Sophie', sans-serif;
		font-size:1.42em;
		text-align:center;
		margin-bottom:30px;
	}
	#sem-sensor{
		h3{
			text-align:center;
			float:none;
			color:#7a7460;
		}
	}
	.divisoria{
		clear:both;
		width:289px;
		height:7px;
		margin:20px 202px;
	}
	h4{
		font-family:'Permanent Marker', sans-serif;
		font-size:1.7em;
		clear:both;
		color: $color-white;
	}
	#abas{
		background: url(./../img/template/bg-tlt-graficos.png) no-repeat;
		width:694px;
		height:59px;
		a {
			display: inline-block;
			min-height: 50px;
			min-width: 50px;
			font-family: 'Sophie', sans-serif;
			font-size: 1.71em;
			color: transparent;
			text-transform: uppercase;
			vertical-align: middle;
			line-height: 50px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			&:hover {
				color: $color-white;
				background-position: 50% 10000px;
			}
			&.active {
				color: $color-white;
				background-position: 50% 10000px;
				cursor: default;
			}
		}
	}
	#plantacoes{
		padding-top:6px;
		h2{
			color: $color-white;
			background: url(./../img/template/bg-tlt-graficos.png) no-repeat;
			width:694px;
			height:59px;
		}
	}
	.bg-graficos{
		background: url(./../img/template/bg-graficos.png) no-repeat;
		width:634px;
		padding:25px 30px 0;
		margin:25px 0;
		height:1425px;

		.left{
			float:left;
			display:block;
			width:115px;
			margin:84px 5px;
			text-align:left;
		}
		.right{
			float:right;
			display:block;
			width:125px;
			margin-top:80px;
			text-align:right;
		}
	}
}
