.l-header {
	width:215px;
	position:fixed;
	background-color:#000;
	right:0;
	padding:0 5px;
	height: 100%;
	
	h2 {
		font-size:0.86em;
		text-align:center;
		margin:5px auto;
	}
	li {
		list-style:none;
		left:0;
		line-height:20px;
	}
	.logout{
		color:#f00;
		margin:0 auto;
		text-align:center;
		display:block;
	}
	h1{
		margin:20px auto 0;
		width:200px;
		font-size:2em;
	}
	li a{
		vertical-align:super;
	}
}
