.l-login {
	width:960px;
  	margin: 0 auto;
	
	h2 {
		font-size:0.86em;
		text-align:center;
		margin:5px auto;
	}
	h1 {
		margin:0 auto;
		text-align:center;
		font-size:2em;
	}
	.bt-saiba-mais{
		bottom:50px;
		position:absolute;
		text-align:center;
		cursor:pointer;
		width:100px;
		margin-left:-50px;
		left:50%;
	}
	#accordion{
		width:260px;
		margin:10px auto;
		text-align:center;
	}
	p{
		text-align:center;
		
	}
	.btcadastrar{
		cursor:pointer;
	}
}