.l-notificacoes {
	margin-bottom: 0px;
	ul {
		li {
			position: relative;
			min-height: 140px;
			max-height: 140px;
			margin-bottom: 40px;
			.round-img {
				position: absolute;
			}
			.postnome {
				font-size: 1.28em;
				margin-left: 131px;
			}
			.posttexto {
				margin-left: 131px;
			}
			.ler-publicacao {
				@include box-sizing(border-box);
				@include sprite(ler-publicacao);
				padding: 7px 0px 0px 0px;
				margin-top: 20px;
				text-align: center;
				display: inline-block;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 1em;
				color: $color-white;
				position: absolute;
				bottom: 0px;
				margin-left: 131px;
			}
		}
	}
	/*#conteudoNotificacoes{
		overflow:auto;
		margin:10px 0;
	}
	#conteudoNotificacoes li{
		width:31%;
		margin:1% 2% 1% 0;
		display: block;
		float:left;

	}
	#conteudoNotificacoes li img{
		margin-right:5px;
	}*/
}
