.l-produtores {
	#cultivo{
		width:290px;
	}
	form{
		width:300px;
	}
	#cidade{
		width:230px;
	}
	#resultadoprodutores li img{
		margin:0 10px 0 0;
		float:left;
		display:block;
	}
	#resultadoprodutores li{
		display:block;
		width:400px;
		height:150px;
		float:left;
		margin:10px 10px 0 0;
	}
}
